@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?oq73ip');
  src:  url('/fonts/icomoon.eot?oq73ip#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?oq73ip') format('truetype'),
    url('/fonts/icomoon.woff?oq73ip') format('woff'),
    url('/fonts/icomoon.svg?oq73ip#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  /*font-display: block;*/
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;*/

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item__social {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  background: #ded3f1;
  /*background: #fefdff;*/
  text-decoration: none;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  font-size: 20px;

}
.icon-one:hover,
.icon-two:hover {
  transform: scale(1.1);
}

.icon-car-1:before {
  content: "\e900";
}
.icon-car-2:before {
  content: "\e901";
}
.icon-shop:before {
  content: "\e902";
}
.icon-Trash-Can:before {
  content: "\e903";
}
.icon-Vector-4:before {
  content: "\e904";
   color: #495057;
}
.icon-Vector-5:before {
  content: "\e905";
   color: #495057;
}
.icon-Vector-6:before {
  content: "\e906";
}
.icon-Vector-5-filling:before {
  content: "\e907";
  color: #7954a3;
}
.icon-Vector-4-all:before {
  content: "\e908";
}
.icon-Vector-4-filling:before {
  content: "\e909";
  color: #ff4400;
}
.icon-Vector-4 {

}
.icon-Vector-5 {

}
.icon-one {


}
.icon-two {


}